<div>
  <div class='container'>
    <div>
      <br>
      <br>
      <input [(ngModel)] = 'zadanie'>
      <button (click)='dodaj()'>Dodaj</button>
    </div>
  </div>


  <div class='container'>
    <div>
      <p>Lista Zadań:</p>
      <ng-container *ngIf="listaZadan.length == 0">
        "Brak zadań do wykonania"
      </ng-container>
      <ul>
        <li *ngFor="let i of listaZadan">
          {{i}}
          <button type="button" class="btn btn-danger" (click)='usun(i)'>Usuń</button>
          <button (click)='dodajZrobione(i)'>Dodaj</button>

        </li>
      </ul>

    </div>

    <div>
      Zadania wykonane {{licznik}}:

      <ul>
        <li *ngFor="let j of listaZadanWykonanych">
            {{j}}
        </li>
      </ul>
    </div>




  </div>
</div>

